$VeryDarkMagenta: hsl(300, 43%, 22%);
$SoftPink: hsl(333, 80%, 67%);
$DarkGrayishMagenta: hsl(303, 10%, 53%);
$LightGrayishMagenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);

.attribution {
     font-size: 11px;
     text-align: center;
   }

   .attribution a {
     color: hsl(228, 45%, 44%);
   }

body{
      max-width: 1440px;
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: 'Spartan', sans-serif;
     font-size: 15px;

     &::before{    
          content: '';
          background: url('./images/bg-pattern-top-desktop.svg') top left no-repeat;
          width: 100%;
          height: 100%;
          z-index: 5;
          position: absolute;
          top: 0;
          left: 0;

          @media (max-width:375px){
               background: url('./images/bg-pattern-top-desktop.svg') top left no-repeat;
               width: 100%;
               height: 50%;
               z-index: 5;
               position: absolute;
               top: -70px;
               left: 0;
               }
     }
     
     background: url('./images/bg-pattern-bottom-desktop.svg') bottom right no-repeat;

    
}



  

.main{
     max-width: 1110px;
     margin-right: auto;
     margin-left: auto;


     .cards_wrapper {
               display: flex;
               justify-content: space-between;
               width: 100%;
               height: 265px;
               margin-top: 50px;

               @media (max-width:375px){
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 740px;
               }
          
          .wrap_1 {
               display: flex;
               align-items: flex-start;

               @media (max-width:375px){
                    align-items: center;
                    margin-bottom: 20px;
               }
          }
          .wrap_2 {
               display: flex;
               @media (max-width:375px){
                    align-items: center;
                    margin-bottom: 20px;
               }
          }
          .wrap_3 {
               display: flex;
               @media (max-width:375px){
                    align-items: center;
               }
          }
          
          .card_wrapper_1, .card_wrapper_2, .card_wrapper_3{
               width: 350px;
               height: 233px;
               background-color: $VeryDarkMagenta;
               border-radius: 5px;

               @media (max-width:375px){
                     width: 325px;
               }
          
               .card_row_1, .card_row_2 {
                    display: flex;

                    .card_text_big {
                         color:$White;
                         font-size: 0.8rem;
                         line-height: 1.5;
                        padding:0 30px;
                    }

                  .card_image img {
                       border-radius: 50%;
                       width: 40px;
                       height: 41px;
                       padding: 30px 30px;
                  }

                    .card_title  {
                       color: $White;
                       padding-top: 20px;             
                         p {
                              display: flex;
                              flex-direction: column;
                              font-weight: 700;
                              font-size: 0.8rem;

                              span {
                                    color: $SoftPink;
                                    padding-top: 5px;
                                    font-weight: 400;
                                    font-size: 0.8rem;
                               }
                         }
                    }   
               }
               .card_row_2 {
                    margin-top: -10px;
               }
             }
          }
     }

     .wrapper{
     display: flex;
     text-align: start;
     justify-content: space-between;
     margin-top: 110px;

        @media (max-width:375px){
                margin-top: 50px;
                flex-direction: column;
                text-align: center;
           }
     }
    

     .main_text { 
          display: flex;         
          align-items: flex-start;
          flex-direction: column;
          text-align: left;
          max-width: 460px;
          @media (max-width:375px){
               text-align: center;
               align-items: center;
               margin-bottom: -30px;
           }
          h1 {
               font-size: 2.7rem;
               font-weight: 700;
               color: $VeryDarkMagenta;
               padding-right: 60px;
               margin-bottom: -30px;

               @media (max-width:375px){
               font-size: 2.0rem;
               padding: 0px 30px;
               }
          }

          p{
               max-width: 100%;
               line-height: 1.5;
               color:$DarkGrayishMagenta;

               @media (max-width:375px){
               text-align: center;
               padding: 35px 18px;
               }
          }

     }

     .main_raiting {
          display: flex;
          flex-direction: column;
          width: 540px;
          margin-top: 40px;
          
             @media (max-width:375px){
               width: 100%;
               height: 330px;
               margin-top: 0px;
               justify-content: center;
               align-items: center;
          }
     }

          .raiting_wrapper_1{
               display: flex;
               justify-content: flex-start;
               @media (max-width:375px){
                justify-content: center;
               }
          }

           .raiting_wrapper_2{
               display: flex;
               justify-content: center;
          }

           .raiting_wrapper_3{
               display: flex;
               justify-content: flex-end;
               @media (max-width:375px){
                justify-content: center;
               }
          }

     
     .main_raiting_1,.main_raiting_2, .main_raiting_3 {
          background-color: $LightGrayishMagenta;
          color: $VeryDarkMagenta;
          font-weight: 700;
          height: 55px;
          width: 445px;
          border-radius: 5px;
          display: flex;
          text-align: center;
          align-items: center;
          padding-left: 30px;

          @media (max-width:375px){
               display: flex;
               flex-direction: column;
               padding-left: 0px;
               justify-content: center;
               align-items: center;
               width: 320px;
               height: 80px;
               
          }

          // .main_raiting_1,.main_raiting_2, .main_raiting_3 span {
          //       justify-content: center;
          //      align-items: center;
          // }

          & img {
               padding-right: 10px;

               @media (max-width:375px){
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 10px;
               }
          }
           & img:last-child{
               padding-right: 30px;
               @media (max-width:375px){
                  padding-right: 0px;  
               }
          }

    
     
     }
     
.main_raiting_1,.main_raiting_2, .main_raiting_3:not(:last-child){
          margin-bottom: 17px;
}


.attribution {
     margin-top: 80px;
     @media (max-width:375px){
               display: flex;
               flex-direction: column;
                justify-content: center;
                margin-top: 20px;
                a {
                     padding: 5px;
                }
               }
}


